*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin-top: 0;
    display: flex;
    align-items: center;
    
}
.navList {
    list-style: none;
    
}
.navContainer {
    display: flex;
    align-items: center;
    margin-right: 30px;
    
}
.listIcon{
    margin-right: 4px;
}