.parent {
    padding: 25px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: 1px solid #E7717D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileHeader{
    width: 300px;
    height: 40px;
    background-color:#E7717D;

    border-radius: 5px;
}
.profileIcon {
    margin-top: -10px;

}
.bookingStatus {
    background-color: rgb(59, 59, 243);
    color: #fff;
    padding: 5px 6px;
    border-radius: 4px;
}