
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #dbd0c8;
}
.navParentContainer {
    display: flex;
    justify-content: end;
    padding-right: 40px;
    background-color: #93785B;
}
.navContainer {
    display: flex;
    align-items: center;
    gap: 20px
}
.navContainer li {
    list-style: none;
    cursor: pointer;
    transition: ease;
    padding: 5px 8px;
}
.navContainer li:hover {
    background-color: #3E362E;
    color: white;
    
    border-radius: 5px;
    
}
.listcontainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu {
    cursor: pointer;
    display: none;
}
@media(max-width: 760px) {
    .navContainer{
        display: none;
    }
    .menu{
        display: block;
    }

    .menuMobile {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #93785B;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
}
