
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
/* html {
    height: 100%;
} */
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,178,148,0.11034668994550945) 100%);
}
.navParentContainer {
    display: flex;
    justify-content: end;
    padding-right: 40px;
    /* background-color: #E7717D; */
}
.listcontainer a {
    text-decoration: none;
    color: #000;
}
.navContainer {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 10px;
}
.liststyle  {
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
}
.liststyle:hover {
    border-bottom: solid 2px #E7717D;
    color: #000;
    font-weight: 400;
   
    
}
.navActive  {
    border-bottom: solid 2px #E7717D;
    color: #000;
    font-weight: 400;

}
.listcontainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu {
    cursor: pointer;
    display: none;
}
@media(max-width: 760px) {
    .navContainer{
        display: none;
    }
    .menu{
        display: block;
    }

    .menuMobile {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 40vw;
        gap: 20px;
        background: rgb(238,174,202);
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,178,148,0.11034668994550945) 100%);
    
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
}
