.parent-container{
    padding: 25px;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 10px;
    border: 1px solid #E7717D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

}
.textRegister{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Playfair', sans-serif;
    font-weight: 300;
}