
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
/* html {
    height: 100%;
} */
body {
    font-family: 'Poppins', sans-serif;
    /* background: #121212; */
    background: rgb(238,174,202); 
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,178,148,0.11034668994550945) 100%); 
}
.navParentContainer {
    display: flex;
    justify-content: end;
    padding-right: 40px;
    /* background-color: #51219E; */
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 35%, rgba(81, 33, 158, 1) 63%, rgba(33, 190, 222, 1) 100%)
    /* background-color: #5A4FCF;
    background-image: linear-gradient(315deg, #5A4FCF 0%, #242124 74%); */
}
.listcontainer a {
    text-decoration: none;
    color: #fccfd4;
}
.navContainer {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 10px;
}
.liststyle  {
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
}
.liststyle:hover {
    border-bottom: solid 2px #E7717D;
    font-weight: 400;
   
    
}
.navActive  {
    border-bottom: solid 2px #E7717D;
    font-weight: 400;

}
.listcontainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu {
    cursor: pointer;
    display: none;
}
@media(max-width: 760px) {
    .navContainer{
        display: none;
    }
    .menu{
        display: block;
    }

    .menuMobile {
        position: absolute;
        top: 35px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        height: 25vh;
        width: 30vw;
        gap: 20px;
        background: #fff;
        color: #020024;
        padding-bottom: 10px;
        /* background: rgb(238,174,202);
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,178,148,0.11034668994550945) 100%); */
    
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
}
