.contactContainer{
    height: 100vh;
}
.contactTitle{
    margin-top: 3rem;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 2rem;
}
.contactIntro{
    padding: 1rem 3rem;
}