.parent-container {
    padding: 25px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: 1px solid #E7717D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}