.parentFooter {
    background-color: #5A4FCF;
    background-image: linear-gradient(315deg, #5A4FCF 0%, #242124 74%);
    margin-bottom: 0;
    padding-bottom: 0;
    height: 30vh;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.footerElements p {
    color: #fff;
    
}
.iconsContact {
    fill: #fff;
    padding-right: 20px;
    cursor: pointer;
}